html, body {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 90%);
    font-family: 'メイリオ' , Meiryo, 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

h1 {
    font-size: 1.5em;
}

h1:last-child {
    margin-bottom: 100px;
}

img {
    max-width: 600px;
    width: 50%;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
