html, body {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 90%);
    font-family: 'メイリオ' , Meiryo, 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
    user-select: none;
    pointer-events: none;
}

h1 {
    font-size: 1.5em;
}

h1:last-child {
    margin-bottom: 100px;
}

img {
    max-width: 600px;
    width: 50%;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* DOWNLOAD PAGE */

h2 {
    margin: 0;
}

a {
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(184, 52, 52);
    width: 100%;
    display: block;
    text-align: center;
}

a:hover, a:active {
    color: rgb(233, 36, 36);
    font-weight: 700;
}

.force-mouse-events {
    pointer-events: all !important;
    user-select: text !important;
}

.dl {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid white;
    border-left: 1px solid white;
    min-height: 100%;
    background-color: hsl(218, 35%, 13%);
}

.dl h1 {
    margin-top: 0;
}